:root {
 --body-background-color: #FFFFFF;
 --body-text-color: rgb(61, 71, 76);
 --card-background-color: #EEEEEE;
 --nav-background-color: #EEEEEE;
 --nav-border-bottom-color: #EEEEEE;
 --nav-current-border-bottom-color: #EEEEEE;
 --card-border-color: #EEEEEE;
 --down-border-left-color: #F74E19;
 --down-background-color: #ff7676;
 --degraded-border-left-color: #FFB100;
 --up-border-left-color: #51B249;
 --tag-color: #0d1117;
 --tag-up-background-color: #53e69d;
 --tag-down-background-color: #ff7676;
 --tag-degraded-background-color: #f7b731;
 --change-background-color: #f7b731;
 --error-button-border-color: #1a46ad;
 --error-button-background-color: #3867d6;
 --error-button-color: #ffffff;
 --submit-button-border-color: #1a46ad;
 --submit-button-background-color: #3867d6;
 --submit-button-color: #ffffff;
 --graph-opacity: 1;
 --graph-filter: saturate(0%) brightness(100%);
}
nav .container {
 flex-direction:row-reverse
}
nav .container {
  font-weight: bold;
}
nav .container a:hover {
  color: #c60024;
}
.container .logo {
 flex-direction:row-reverse;
 margin-right:0!important
}
.container .logo img {
 margin-right:0!important;
  object-fit: contain;
  width: 120px;
}
.container .logo div {
 display:none
}

main.container > article.up {
  margin-bottom: 2rem;
}

main.container section {
 display: none;
}
main.container section.live-status {
 display:block
}
.up.link a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
